extends layout

block content
    .container.mini_overlay#lay-for-recipe
        h1 My Recipes
    .container
        .col-md-offset-3
            .col-md-8.info-bar#recipe
                form(action="/recipes-query", method="post")
                    input(type="hidden", name="_csrf", value=_csrf)
                    .form-group#recipe-specific
                        input.form-control(type="text", placeholder="Search for a recipe",name="query")
                    button.btn.btn-defaut(type="submit") Submit
    .container
        .col-md-offset-3
            .col-md-8.info-bar#recipe
                form(action="/recipes-ingredients", method="post")
                    input(type="hidden", name="_csrf", value=_csrf)
                    .form-group#recipe-specific
                        label Find a recipe with the ingredients in your pantry
                    button.btn.btn-defaut(type="submit") Submit
    .container
        if recipes
            each recipe in recipes
                if recipe.thumbnail && recipe.title && recipe.href && recipe.ingredients
                    p
                        a(href="#{recipe.href}") #{recipe.title}
                    p #{recipe.ingredients}
                    img.img-responsive.recipe-img(src="#{recipe.thumbnail}")
                    hr